// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('./assets/fonts/Gilroy-SemiBold.woff');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.woff');
}

$light-text: rgb(87, 94, 115);
$border-color: #dfdfdf;
$vibrant-green: rgb(0, 192, 139);

/* misclaneous */

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Gilroy-Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cart-column,
.details-column {
  height: calc(100vh - 56px);
}

.cart-column,
.store-categories-container {
  border-right: 0.5px solid $border-color;
}

.heading,
.header h1 {
  font-size: 28px;
  width: 100%;
  margin: 1rem 0.5rem;
  font-family: 'Gilroy-SemiBold';
}

/* navbar */

.navbar {
  background-color: rgb(23, 30, 48);
}

li.nav-item {
  color: #fff;
}

li.nav-item svg {
  height: 34px;
  margin: auto 12px;
}

li.nav-item svg:hover {
  color: $vibrant-green;
  cursor: pointer;
}

/* Details Column */

.header {
  text-align: left;
}

.header h1 {
  text-align: left;
  margin-left: 0;
  margin-bottom: 0;
}

.header p {
  font-size: 18px;
  font-family: 'Gilroy-Medium';
  color: $light-text;
  opacity: 0.8;
  margin: 0;
}

.banner {
  text-align: center;
}

.banner img {
  width: 60%;
}

.items-container {
  border-top: 0.5px solid $border-color;
}

.store-items-container {
  height: calc(100vh - 175px);
  overflow-y: scroll;
}

.store-categories-container,
.store-details-container {
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
}

.store-categories-container li {
  height: 36px;
  width: 100%;
  margin: 8px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 4px;
  overflow: hidden;
}

.store-categories-container li:hover {
  color: $vibrant-green;
  cursor: pointer;
}

.store-item {
  display: flex;
  margin: 18px 0px;
}

.store-item:hover {
  span.item-name {
    color: $vibrant-green;
  }
}

.store-item img {
  width: 128px;
}

span.item-name {
  font-size: 20px;
  font-family: 'Gilroy-SemiBold';
}

.item {
  margin-left: 24px;
}

.item-actions {
  margin: 12px 0px;
}

.item-actions button {
  border: none;
  box-shadow: #fff;
  font-size: 24px;
  margin: auto 8px;

  &:hover {
    color: $vibrant-green;
  }
}

.item-actions input {
  display: inline-block;
  width: 32px;
  border: 2px solid $vibrant-green;
  border-radius: 4px;
  text-align: center;
}


/* Cart Column */

.heading {
  text-align: center;
}

.checkout-actions {
  flex-direction: column;
  padding: 12px 12px 18px 12px;
  position: sticky;
  bottom: 0;
}

.subtotal {
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 0 1rem;
  font-family: 'Gilroy-SemiBold';
}

.subtotal span {
  font-size: 15px;
  font-weight: 400;
  margin-left: calc(100% - 120px);
  font-family: 'Gilroy-Medium';
}

.instructions-box {
  height: 48px;
  width: 90%;
  margin: 8px 5%;
  resize: none;
  border-radius: 4px;
  font-size: 14px;
}

.checkout {
  width: 50%;
  margin: 0 25%;
  border: 1px solid $vibrant-green;
  border-radius: 4px;
  height: 40px;
  background-color: $vibrant-green;
  color: #fff;
  text-transform: capitalize;
}

.cart-items-container {
  height: calc(100vh - 325.81px);
  background-color: #fff;
  margin: 8px;
  border-radius: 4px;
  overflow-y: scroll;
}

.cart-items-container ul {
  list-style: none;
  padding: 0;
}

.cart-items-container li {
  margin: 8px 0;
}

.cart-item-container img {
  width: 64px;
}

.cart-item {
  width: 198px;
  margin-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}